doctype html
html
	head
		//- charset
		meta(charset='utf-8')
		
		//- title
		title Prototype App
		
		//- stylesheet
		link(href='/css/app.css', rel='stylesheet')
	
	body
		//- viewport
		#viewport
			#app-loading: .box
				.spinner
				.label
			
			include views/home
			include views/about
			include views/setup
		
		//- init config
		script.
			var config = {
					baseURL: 'http://www.keystonejs.com'
				};
		
		//- script(src='cordova.js')
		script(src='js/app.js')
